@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-primary-bg: #1E1E1E;
    --color-secondary-bg: #2E2E2E;
    
    /* ACCENT */
    --color-acc: #25B7D3;
}

::-webkit-scrollbar { display: none; }

* { scrollbar-width: none; }